Package: com.rpetrich.contactprivacy
Priority: optional
Section: Tweaks
Maintainer: thebigboss.org <http://thebigboss.org>
Architecture: iphoneos-arm
Version: 1.1
Description: Prompts when apps want access to your contacts database. Inspired by Path
Name: ContactPrivacy
Depends: firmware (>= 4.0), mobilesubstrate, applist (>= 1.4.2), preferenceloader
Author: Ryan Petrich <rpetrich+contactprivacy@gmail.com>
Tag: purpose::extension
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=contactprivacyDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=contactprivacyDp
dev: rpetrich
